---
title: Articles
layout: default.njk
---
{% set currentYear = null %}
<main>
  <h1>Articles</h1>
  {%- for article in collections.articles -%}
    {% if article.data.date | date('YYYY') != currentYear %}
    {% set currentYear = article.data.date | date('YYYY') %}
    <h2>{{ currentYear }}</h2>
    {% endif %}
    <article>
      <time class="dt-published" datetime="{{ article.datadate }}">{{ article.datadate | date('do MMM YYYY') }}</time>
      <h3>{{ article.data.title }}</h3>
      {{ article.templateContent | firstParagraph | safe }}
      <a href="{{ article.url }}">Keep reading “{{ article.data.title }}”</a>
    </article>
  {%- endfor -%}
</main>