---
title: Welcome
layout: default.njk
omitTitle: true
---
<div class="introduction">
  <h1 class="introduction-title heading-l">Hello.</h1>
  <p class="introduction-content">I’m Jon and this is my website. I write short articles, here’s a few of the most recent&hellip;</p>
</div>
<div class="teasers">
{%- for article in collections.articles | limit(5) -%}
  {% if article.data.cover %}{% set cover =  article.data.cover %}
  {% elif article.templateContent | firstImage %}{% set cover = article.templateContent | firstImage %}
  {% else %}{% set cover = false %}
  {% endif %}
  <article class="teaser{% if cover %} teaser--has-cover{% endif %}">
    {% if cover %}
    <figure class="teaser-cover">
      <div class="teaser-cover-container">
        <img src="{{ article.url }}cover-{{ cover }}" class="teaser-cover-image"/>
      </div>
    </figure>
    {% endif %}
    <div class="teaser-content">
      <h2 class="teaser-title"><a href="{{ article.url }}" class="teaser-link">{{ article.data.title }}</a></h2>
      <time class="teaser-date" datetime="{{ article.date | date('') }}">{{ article.date | date }}</time>
      <p class="teaser-introduction">{% if data.data.intro %}{{ article.data.intro }}{% else %}{{ article.templateContent | firstParagraph | stripTags | hangingPunctuation | safe }}{% endif %}</p>
    </div>
  </article>
{%- endfor -%}
</div>