---
permalink: /tags/
layout: default.njk
title: Tags
---
{% from "./_components/tag.njk" import tag %}
<ul class="tagCloud">
  {% for tagItem in collections.tagList %}
    <li class="tagCloud-tag">{{ tag({
      title: tagItem,
      url: '/tags/' + tagItem | slug,
      count: collections[tagItem] | length
    }) }}</li>
  {% endfor %}
</ul>