---
permalink: /tags/
layout: default.njk
title: Categories
---
<div class="layout-like-article">

<dl class="summary-list">
  {%- for tag in collections.tagList -%}
  <div class="summary-list-row">
      <dt class="summary-list-title"><a href="/tags/{{ tag | slug }}">{{ tag | title }}</a></dt>
      <dd class="summary-list-meta">{{ collections[tag] | length }} {{ 'article' | plural(collections[tag] | length) }}<dd>
    </div>
  {%- endfor -%}
</dl>
</div>