---
permalink: /tags/
layout: default.njk
title: Categories
---

<p>I categorise my articles with tags. There are {{ collections.tagList | length}} tags.</p>

<h2>Tags</h2>
<dl class="summary-list">
  {%- for tag in collections.tagList -%}
  <div class="summary-list-row">
      <dt><a href="/tags/{{ tag | slug }}">{{ tag }}</a></dt>
      <dd>{{ collections[tag] | length }} {{ 'article' | plural(collections[tag] | length) }}<dd>
    </div>
  {%- endfor -%}
</dl>