---js
{
  pagination: {
    data: 'collections.tagList',
    size: 1,
    alias: 'tag',
    filter: ['all', 'articles']
},
  layout: 'default.njk',
  renderData: {
    title: 'Tagged “{{ tag }}”'
  },
  permalink: "/tags/{{ tag | slug }}/"
}
---
{% from "./_components/teaser.njk" import teaser %}
{% set taglist = collections[ tag ] %}
<div class="grid">
{% for article in taglist | reverse %}
  {{ teaser(article) }}
{% endfor %}
</div>