---js
{
  pagination: {
    data: 'collections.tagList',
    size: 1,
    alias: 'tag',
    filter: ['all', 'articles']
  },
  layout: 'default.njk',
  renderData: {
    title: 'Articles tagged “{{ tag }}”'
  },
  permalink: "/tags/{{ tag | slug }}/",
  omitTitle: true
}
---
{% macro articleTitle(title, photoCount) %}
{%- if title %}
{{ title }}
{% else %}
{{ photoCount}} {% if photoCount == 1 %}photo{% else %}photos{% endif %}
{% endif -%}
{% endmacro %}

<h1 class="heading-l">{{ tag | title }}</h1>
<div class="layout-like-article">
{% set taglist = collections[ tag ] %}
<dl class="summary-list">
  {%- for article in taglist | reverse -%}
    <div class="summary-list-row">
      <dt class="summary-list-title"><a href="{{ article.url }}">{{ articleTitle(article.data.title, article.data.photo | length) }}</a></dt>
      <dd class="summary-list-meta"><time datetime="{{ article.date | date('') }}">{{ article.date | date }}</time><dd>
    </div>
  {%- endfor -%}
</dl>
</div>