{# teaser. 
  data: [object]
#}
{% macro teaser(data, global) %}
{% if data.data.cover %}{% set cover =  data.data.cover %}
{% elif data.templateContent | firstImage %}{% set cover = data.templateContent | firstImage %}
{% else %}{% set cover = false %}
{% endif %}
<article class="teaser{% if cover %} teaser--has-cover{% endif %}">
  <div class="teaser-cover"{% if cover %} style="background-image: url({{ data.url }}{{ cover }});"{% endif %}></div>
  <time class="teaser-date" datetime="{{ data.data.date | date('') }}">
    <span class="teaser-date__day">{{ data.data.date | date('Do') }}</span>
    <span class="teaser-date__month">{{ data.data.date | date('MMM') }}</span>
    <span class="teaser-date__year">{{ data.data.date | date('YYYY') }}</span>
  </time>
  <h2 class="teaser-title">{{ data.data.title }}</h2>
  <div class="teaser-content">
    {% if data.data.intro %}{{ data.data.intro }}{% else %}{{ data.templateContent | firstParagraph | stripTags }}{% endif %}
  </div>
  {% if global.env == 'production' %}{% set sitelink = '//roobottom.com/' %}{% endif %}
  <a href="{{ data.url }}" class="teaser-permalink" rel="bookmark">Keep reading “{{ data.data.title }}”</a>
</article>
{% endmacro %}