{# teaser. 
  data: [object]
#}
{% macro teaser(data) %}
<article class="teaser h-entry">
  <time class="dt-published" datetime="{{ data.data.date }}">{{ data.data.date | date('Do MMM YYYY') }}</time>
  <h3 class="teaser-title p-name">{{ data.data.title }}</h3>
  <div class="teaser-content p-summary">
    {{ data.templateContent | firstParagraph | safe }}
  </div>
  {# todo: Workout how to turn this into a proper permalink (https://roobottom.com/) #}
  <a href="{{ data.url }}" class="teaser-permalink u-url" rel="bookmark">Keep reading “{{ data.data.title }}”</a>
</article>
{% endmacro %}