<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="dar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The personal website of Jon Roobottom">
    <meta name="robots" content="index, follow">
    <title>{{ renderData.title or title }} / Jon Roobottom’s website</title>
    <link href="/assets/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
<header class="banner wrapper">
    <a href="/" class="banner-link" rel="home">Jon Roobottom’s Website</a>
    <nav class="banner-navigation" aria-label="site">
        <ul class="navigation">
            <li><a href="/articles" {% if page.url.startsWith('/articles') %}aria-current="page"{% endif %}>Articles</a></li>
            <li><a href="/tags" {% if page.url.startsWith('/tags') %}aria-current="page"{% endif %}>Tags</a></li>
            <li><a href="/about" {% if page.url.startsWith('/about') %}aria-current="page"{% endif %}>About</a></li>
        </ul>
    </nav>
</header>
<main class="wrapper">
  {{ content | safe }}
</main>
<footer class="wrapper">
    <div class="footer-copyright">&copy; {{ today | date('YYYY') }}</div>
</footer>
</body>
</html>