<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="default">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jon Roobottom’s personal website">
    <meta name="robots" content="index, follow">
    <title>{{ renderData.titleElement or renderData.title or title }} / Jon Roobottom’s website</title>
    <link href="/assets/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="me" href="https://github.com/roobottom">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://roobottom-indiekit.herokuapp.com/">


    <!-- open graph -->
    {% set og_image %}https://roobottom.com{{ page.url }}{% if cover %}{{ cover }}{% elif content | firstImage %}{{ content | firstImage }}{% else %}null{% endif %}{% endset %}
    <meta property="og:title" content="{{ renderData.titleElement or renderData.title or title }}"/>
    <meta property="og:locale" content="en_gb"/>
    <meta property="og:image" content="{{ og_image }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ content | firstParagraph | stripTags }}"/>
    <meta property="og:url" content="https://roobottom.com{{ page.url }}"/>
    <meta property="og:site_name" content="Jon Roobottom’s website"/>
</head>
<body>
<header class="banner wrapper">
    <a href="/" class="banner-sitename" rel="home">Jon’s <span class="banner-sitename__description">Website</span></a>
    <nav class="banner-navigation" aria-label="site">
        <ul class="banner-navigation__list">
            {%- for item in global.menu -%}
            <li class="banner-navigation__item"><a href="{{ item.url }}" {% if page.url.startsWith(item.url) %}aria-current="page"{% endif %} class="banner-navigation__link">{{ item.title }}</a></li>
            {%- endfor -%}
        </ul>
    </nav>
</header>
<main class="wrapper">
  {{ content | safe }}
</main>
<footer class="wrapper footer">
 <div class="footer-copyright">&copy; {{ today | date('YYYY') }}</div>
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 10" class="footer-banner" preserveAspectRatio="none" height="10px" width="100%">
  <path d="M0 0h117v10H0z" class="footer-banner-segment-1"/>
  <path d="M117 0h117v10H117z" class="footer-banner-segment-2"/>
  <path d="M234 0h117v10H234z" class="footer-banner-segment-3"/>
  <path d="M351 0h117v10H351z" class="footer-banner-segment-4"/>
  <path d="M468 0h117v10H468z" class="footer-banner-segment-5"/>
  <path d="M585 0h117v10H585z" class="footer-banner-segment-6"/>
  <path d="M702 0h117v10H702z" class="footer-banner-segment-7"/>
  <path d="M819 0h117v10H819z" class="footer-banner-segment-8"/>
  <path d="M936 0h117v10H936z" class="footer-banner-segment-9"/>
  <path d="M1053 0h117v10H1053z" class="footer-banner-segment-10"/>
 </svg>
</footer>
</body>
</html>