<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The personal website of Jon Roobottom">
    <meta name="robots" content="index, follow">
    <title>{{ renderData.title or title }} / Jon Roobottom's website</title>
    <link href="/assets/styles.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
<header class="banner">
<a href="/" class="banner-link" rel="home">Jon Roobottom’s Website</a>
<nav class="banner-navigation" aria-label="site">
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
</header>
{{ content | safe }}
<footer class="footer">
    <div class="footer-copyright">&copy; {{ today | date('YYYY') }}</div>
</footer>
</body>
</html>