---
layout: _wrapper.njk
---
{% from "../_components/tag.njk" import tag %}
{% set count = 0 %}
{% set prevPage = null %}
{% set nextPage = null %}
{%- for article in collections.articles -%}
  {% if article.url == page.url %}
    {% set prevPage = collections['articles'][count + 1] %}
    {% set nextPage = collections['articles'][count - 1] %}
  {% endif %}
  {% set count = count + 1 %}
{%- endfor -%}

<header class="article-header">
  <h1 class="article-title">{{ title }}</h1>
</header>
<footer class="article-footer">
  <span class="visually-hidden">Published on</span> <time class="dt-published" datetime="{{ date | date('') }}">{{ date | date }}</time>
</footer>
<div class="prose article-content">
  {{ content | safe }}
</div>
<div class="article-tags">
  <h2 id="articleTags" class="article-tags__title">Tagged</h2>
  <ul class="tagCloud" aria-labelledby="articleTags">
    {% for tagItem in tags %}
      <li class="tagCloud-tag">{{ tag({
        title: tagItem,
        url: '/tags/' + tagItem | slug
      }) }}</li>
    {% endfor %}
  </ul>
</div>
<nav class="article-prevNext prevNext" aria-label="Pagination">
  <ul class="prevNext-list">
    {% if prevPage %}
    <li class="prevNext-item prevNext-item--prev">
      <span class="prevNext-itemLabel">Previous article</span>
      <a href="{{ prevPage.url }}" rel="prev" class="prevNext-link">{{ prevPage.data.title }}</a>
    </li>
    {% endif %}
    {% if nextPage %}
    <li class="prevNext-item prevNext-item--next">
      <span class="prevNext-itemLabel">Next article</span>
      <a href="{{ nextPage.url }}" rel="next" class="prevNext-link">{{ nextPage.data.title }}</a>
    </li>
    {% endif %}
  </ul> 
</nav>