---
layout: _wrapper.njk
---
<header class="article-header">
  <h1 class="heading-l">{{ date | date }}</h1>
</header>
<div class="article-content">
  {{ content | hangingPunctuation | safe }}
  {% if photo %}
    {% if photo | length == 1 %}
      {% figure photo[0].url, photo[0].alt, 'wide' %}
    {% else %}
      <div class="gallery">
      {% for photoItem in photo %}
        {% figure photoItem.url, photoItem.alt %}
      {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>
<nav class="article-tags" aria-label="tags">
  <ul class="tags">
    {% for tag in tags %}
      <li class="tags-item"><a href="/tags/{{ tag | slug }}" rel="tag" class="tags-link">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</nav>