@import "images";

.article-title {
  .break-min({
    text-align: center;
  });
  .space(bottom,.5);
}

.article-date {
  #type > #size > .small;
  color: var(--c-text-tint);
  .space(bottom,1);
  .break-min({
    text-align: center;
  });
}

.article-tags,
.article-prevNext {
  max-width: var(--max-text-width);
  margin-left: auto;
  margin-right: auto;
  .space(bottom,3);
}

//content
.article-content {

  .space(bottom);
    
  //rhythm
  h2, h3, h4, h5, h6 {
    .space(top,2);
    .space(bottom,.25);
  }
  hr {
    .space(top,3);
    .space(bottom,3);
  }
  p, >ul, >ol, figure, .gallery,
  pre, table {
    .space(bottom);
  }
  li:not(:last-child) {
    .space(bottom,.25);
  }
  ul>li,
  ol>li {
    .space(top,.25);
  }

  //sizes
  h2, h3, h4, h5, h6 {
    #type > #size > .h3;
  }
  p, li {
    #type > #size > .p;
  }


  //layout
  >p, >ul, >ol,
  h1, h2, h3, h4, h5, h6,
  hr, blockquote, pre, table {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-text-width);
  }

  //lists
  >ol>li,
  >ul>li {
    margin-left: 1em;
  }
  ul ul, ul ol, ol ol, ol ul {
    padding: 0;
    margin-left: 1em;
  }
  ul  {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
      }
    }
  }
  ol {
    list-style: decimal;
    ol {
      list-style: lower-roman;
      ol {
        list-style: lower-latin;
      }
    }
  }


  //styles
  hr {
    background-image: url("/assets/style-images/roo-mark-sm.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: unit(20/@base,rem);
    width: 100%;
    border: none;
    filter: brightness(var(--filter-roo-mark));
  }
  blockquote {
    #type > #font > .serif;
    
    &, a { color: var(--c-first); }

    > p {
      .peek(both);
      #type > #size > .introduction;
      &:before {
        content: "“";
        margin-left: -0.4em;
      }
      &:after {
        content: "”";
      }
    }
    
  }
  code {
    #type > #font > .mono;
  }
  p>code {
    font-size: 95%;
    color: var(--c-text-tint);
    word-spacing: unit(-7/@base,rem);
  }
  pre {
    background-color: var(--c-background-tint);
    #type > #size > .p;
    padding: unit(10/@base,rem);
    box-sizing: border-box;
  }
  //tables
  table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--c-background-tint);
    #type > #size > .p;
  }

  td, th {
    text-align: left;
    border-bottom: 1px solid var(--c-text-tint);
    padding: .5em 1em;
    vertical-align: top;
  }

  tr:last-child td {
    border: none;
  }

  th {
      font-weight: bold;
      border-bottom: 2px solid var(--c-text-tint);
  }

  a {
    #type > #style > .link;
  }

  figure {
    #figure > .global;
  }

  > figure {

  }

}


