.banner {
  #type > #font > .alt;
  .space(top, 2);
  .space(bottom,2);
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: var(--c-text);
  }

  &-sitename {
    #type > #size > .sitename;
    .space(bottom,.5);
    display: block;
    &__description {
      color: var(--c-text-tint);
    }
  }
  &-navigation {
    #type > #size > .navigation;

    &__list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
    }

    &__item {
      .space(right);
      &:last-item {
        .space(right, 0);
      }
    }

  }
}