.prevNext {
  &-list {

  }
  &-item {
    list-style: none;
  }
  &-itemLabel {
    display: block;
    #type#size.h4;
    font-weight: bold;
  }
  &-item-date {
    display: block;
    #type#size.label;
  }

  &-item--next {
    .space(top);
  }

  &-item--prev &-itemLabel:before {
    content: "←";
  }
  &-item--next &-itemLabel:after {
    content: "→";
  }

  &-link {
    #type > #size > .p;
    #type > #style > .link;
  }
}