.summary-list {
  .space(bottom,2);
  #type > #size > .p;

  a {
    #type > #style > .link;
  }

  &-row {
    display: flex;
    flex-direction: column;
    .space(bottom,.25);
    .break-mid({
      flex-direction: row;
    });
  }

  &-title {
    .break-mid({
      order: 1;
      width: 65%;
    });
  }

  &-meta {
    color: var(--c-text-tint);
    #type > #size > .small();
    .break-mid({
      width: 35%;
      text-align: right;
      align-self: center;
      .space(right);
    });
  }
  



}