.darkmoderules() {
  :root {
    --c-background: #1E1A1E;
    --c-background-tint: #292729;
    --c-text: #FFFFFF;
    --c-text-tint: #9DA3A6;
    --c-link: #FFFFFF;
    --c-link-hover: #D4C685;
    --c-first: #94E8B4;
    --c-second: #EA638C;
    --c-third: #87B38D;
    --c-fourth: #119DA4;
    --filter-roo-mark: 1000;
  }
}


html[data-theme='dark'] {
  .darkmoderules();
}
@media (prefers-color-scheme: dark) {
  .darkmoderules();
}