.darkmoderules() {
  :root {
    --c-text: #FFF;
    --c-bg: #222;
    --c-text-quiet: #999;
    --c-link: #FFF;
    --c-link-hover: #008af2;
    --c-link-hover-bg: transparent;
    --s-tag-shadow: 0 2px 4px fade(black, 80%);
  }
  
  
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}


html[data-theme='dark'] {
  .darkmoderules();
}
@media (prefers-color-scheme: dark) {
  .darkmoderules();
}