.wrapper {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 calc(var(--grid-gap) / var(--base));
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: var(--grid-gap);
  grid-auto-flow: dense;
}
.center(@width) {
  max-width: unit(@width/@base, rem);
  margin-left: auto;
  margin-right: auto;
}