@font-face {
  font-family: 'breave';
  src: url('/assets/fonts/breave.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rajdhani';
  src: url('/assets/fonts/rajdhani-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "https://overpass-30e2.kxcdn.com/overpass.css";

#type {
  #size {
    //in size order - refer to the sketch design doc
    .h1() {
      font-size: unit(40/@base, rem);
      line-height: 1;
      .break-min({
        font-size: unit(60/@base,rem);
      });
      .break-mid({
        font-size: unit(80/@base, rem);
      });
      .break-max({
        font-size: unit(110/@base, rem);
      });
    }
    .h2() {
      font-size: unit(30/@base, rem);
      line-height: 1;
      .break-mid({
        font-size: unit(45/@base, rem);
      });
      .break-max({
        font-size: unit(60/@base, rem);
      });
    }
    .introduction() {
      font-size: unit(25/@base, rem);
      line-height: 30/25;
      .break-mid({
        font-size: unit(34/@base, rem);
        line-height: 40/34;
      });
      .break-max({
        font-size: unit(38/@base, rem);
        line-height: 40/38;
      });
    }
    .h3() {
      font-size: unit(22/@base, rem);
      line-height: 25/22;
      .break-mid({
        font-size: unit(25/@base, rem);
        line-height: 30/25;
      });
      .break-max({
        font-size: unit(35/@base,rem);
        line-height: 40/35;
      })
    }
    .navigation() {
      font-size: unit(17/@base, rem);
      line-height: 20/17;
      .break-mid({
        font-size: unit(20/@base,rem);
        line-height: 1;
      });
    }
    .sitename() { //this never grows
      font-size: unit(20/@base, rem);
      line-height: 1;
    }
    .p() {
      font-size: unit(17/@base, rem);
      line-height: 25/17;
      .break-mid({
        font-size: unit(21/@base, rem);
        line-height: 30/21;
      });
    }
    .small() {
      font-size: unit(13/@base, rem);
      line-height: 15/13;
      .break-mid({
        font-size: unit(15/@base, rem);
        line-height: 20/15;
      });
    }
  }
  #font {
    .sans() {
      font-family: 'overpass';
    }
    .serif() {
      font-family: 'breave';
      text-rendering: optimizeLegibility;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .alt() {
      font-family: 'rajdhani';
    }
  }
  #style {
    .link() {
      color: var(--c-link);
      text-decoration: underline;
      &:hover {
        color: var(--c-link-hover);
      }
      &:focus {
        outline: 3px solid var(--c-first);
        color: var(--c-link);
      }
    }
  }
}

body {
  #type > #font > .sans;
  color: var(--c-text);
}

//global type styles
.heading-l {
  #type > #font > .serif;
  #type > #size > .h1;
  text-align: center;
  .space(bottom);
}
.heading-m {
  #type > #size > .h2;
  .space(bottom);
}
.heading-pre,
.heading-s {
  #type > #size > .h3;
  .space(bottom);
}
.heading-pre {
  color: var(--c-text-tint);
}
.heading--border {
  border-bottom: 1px solid var(--c-background-tint);
  .space(bottom,.75);
  .space(bottom,.25,padding);
}
.prose {
  #type > #size > .p;
  .space(bottom);
}

.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.hanging-punctuation {
  margin-left: -0.3em;
}
@supports (hanging-punctuation: first) {
  p {
    hanging-punctuation: first;
  }
  .hanging-punctuation {
    margin-left: 0;
  }
}