@font-face {
  font-family: 'rajdhani';
  src: url('/assets/fonts/rajdhani-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'overpass';
  src: url('/assets/fonts/overpass-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'overpass';
  src: url('/assets/fonts/overpass-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'overpass';
  src: url('/assets/fonts/overpass-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'overpass';
  src: url('/assets/fonts/overpass-bold-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

#type {
  #font {
    .sans() {
      font-family: 'overpass';
    }
    .serif() {
      font-family: 'rajdhani';
    }
  }
  #size {
    .regular() {
        font-size: unit(16/@base,rem);
        line-height: 24 / 16;
        .break-min({
            font-size: unit(21/@base,rem);
            line-height: 30 / 21;
        });
    }

    .small() {
        font-size: unit(16/@base, rem); 
        line-height: 24 / 16;
    }
    .large() {
        font-size: unit(19/@base,rem);
        line-height: 24 / 19;
        .break-min({
            font-size: unit(24/@base,rem);
            line-height: 34 / 24;
        });
    }
    .h1() {
        font-size: unit(60/@base, rem);
        line-height: .9;
        text-transform: uppercase;
        letter-spacing: -0.1px;
        .break-min({
            font-size: unit(60/@base, rem);
        });
        .break-mid({
          font-size: unit(90/@base, rem); 
        });
        .break-max({
          font-size: unit(120/@base, rem);
        })
    }
    .h2() {
        font-size: unit(26/@base,rem);
        line-height: 30 / 26;
        font-weight: bold;
        .break-min({
            font-size: unit(34/@base,rem);
            line-height: 38 / 34;
        });
    }
    .h3() {
        font-size: unit(20/@base,rem);
        line-height: 24 / 20;
        font-weight: bold;
        .break-min({
            font-size: unit(24/@base,rem);
            line-height: 28 / 24;
        });
    }
  }
  #style {
    .link() {
      color: var(--c-link);
      text-decoration: underline;
      transition-property: color, background-color;
      transition-duration: var(--s-transition-duration);
      &:hover {
        color: var(--c-link-hover);
        background-color: var(--c-link-hover-bg);
      }
      &:focus {
        color: var(--c-link-focus);
        background-color: var(--c-link-focus-bg);
        text-decoration: none;
        box-shadow: 0 -2px var(--c-link-focus-bg), 0 4px var(--c-link-focus);
      }
    }
  }
}

h2, .h2 {
  #type > #size > .h2;
}

h3, .h3 {
  #type > #size > .h3;
}

.prose {
  p, ol, ul, h4, h5, h6 {
    #type > #size > .regular;
  }
  >p:first-child {
    #type > #size > .large;
  }
  time {
    #type > #size > .small;
    color: var(--c-text-quiet);
    text-align: center;
    display: inherit;
    text-transform: uppercase;
  }
  >ol>li,
    >ul>li {
        margin-left: 1em;
    }

  //spacing
  .break-max({
      >ol>li,
      >ul>li {
          padding-left: unit(8/@base,rem);
      }
  });
  li + li {
      margin-top: unit(2/@base,rem);
  }
  p, ol, ul, h2, h3, h4, h5, h6, time, hr {
    margin-bottom: calc(var(--type-base) / var(--base));
  }
  p+h2, ul+h2, ol+h2,
  p+h3, ul+h3, ol+h3 {
      margin-top: calc(var(--type-base) / var(--base) * 2);
  }
  figure {
    margin-bottom: calc(var(--type-base) / var(--base) * 2);
  }
  figcaption {
    margin-top: calc(var(--type-base) / var(--base) / 4);
    #type > #size > .small;
    color: var(--c-text-quiet);
  }
  a {
    #type > #style > .link;
  }
  hr {
    border: none;
    height: 3px;
    background-color: var(--c-text-whisper);
  }
}