@base: 16;

@break-max: 1170;
@break-max-rem: unit(@break-max/@base,rem);
@break-mid: 980;
@break-mid-rem: unit(@break-mid/@base,rem);
@break-min:  500;
@break-min-rem: unit(@break-min/@base,rem);

.break-min(@rule) {
  @media screen and (min-width: (@break-min-rem) ) {
    @rule();
  }
}
.break-mid(@rule) {
  @media screen and (min-width: (@break-mid-rem) ) {
    @rule();
  }
}
.break-max(@rule) {
  @media screen and (min-width: (@break-max-rem) ) {
    @rule();
  }
}

@import "_typography";