//responsiveness
@base: 16;
@break-max: 1170;
@break-max-rem: unit(@break-max/@base,rem);
@break-mid: 870;
@break-mid-rem: unit(@break-mid/@base,rem);
@break-min: 570;
@break-min-rem: unit(@break-min/@base,rem);




.break-base(@rule) {
  @media screen and (max-width: (@break-min-rem) ) {
    @rule();
  }
}
.break-min(@rule) {
  @media screen and (min-width: (@break-min-rem) ) {
    @rule();
  }
}
.break-min-only(@rule) {
  @media screen and (min-width: (@break-min-rem)) and (max-width: (@break-mid-rem)) {
    @rule();
  }
}
.break-mid(@rule) {
  @media screen and (min-width: (@break-mid-rem) ) {
    @rule();
  }
}
.break-mid-only(@rule) {
  @media screen and (min-width: (@break-mid-rem)) and (max-width: (@break-max-rem)) {
    @rule();
  }
}
.break-max(@rule) {
  @media screen and (min-width: (@break-max-rem) ) {
    @rule();
  }
}

//variables
:root {
  //colours
  --c-background: #FFFFFF;
  --c-background-tint: #F1F1F1;
  --c-text: #1E1A1E;
  --c-text-tint: #5D686F;
  --c-link: #1E1A1E;
  --c-link-hover: #577590;
  --c-first: #FFB600;
  --c-second: #FF5D1A;
  --c-third: #30BCED;
  --c-fourth: #F00699;
  
  //filter values
  --filter-roo-mark: 0;

  //spacing
  --space: calc(20 / 16 * 1rem);
  --max-text-width: calc(470 / 16 * 1rem);
  --site-padding: calc(20 / 16 * 1rem);
}

.break-min({
  :root {
    --space: calc(30 / 16 * 1rem);
    --site-padding: calc(30 / 16 * 1rem);
  }
});

.break-mid({
  :root {
    --site-padding: calc(100 / 16 * 1rem);
    --max-text-width: calc(590 / 16 * 1rem);
  }
});

//globals
@import "_darkmode";
@import "_reset";
@import "_typography";
@import "_layout";

//components
@import "components/banner";
@import "components/introduction";
@import "components/article";
@import "components/teasers";
@import "components/tags";
@import "components/prevNext";

body {
  background-color: var(--c-background);
}